In [1]:
import pandas as pd

In [3]:
merged_df = pd.read_pickle("processed_movies.pkl")

In [4]:
merged_df

,id,title,rating,year,actors_tsne_1,actors_tsne_2,type,Action,Adventure,Animation,...,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,nan
0,tt0006206,Les Vampires,0.21875,0.000000,0.557611,0.087363,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,tt0006864,Intolerance,0.34375,0.009174,0.273229,0.366655,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,tt0009968,Broken Blossoms,0.18750,0.036697,0.273230,0.366661,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,tt0010323,The Cabinet of Dr. Caligari,0.43750,0.045872,0.506957,0.796208,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,tt0011130,Dr. Jekyll and Mr. Hyde,0.09375,0.045872,0.465815,0.403688,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12133,tt9883996,Dream Horse,0.09375,0.963303,0.591671,0.881580,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12134,tt9892936,One Hundred Years of Solitude,0.62500,1.000000,0.257240,0.660248,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12135,tt9899340,Her Private Life,0.34375,0.954128,0.170125,0.777121,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
12136,tt9900092,Motherland: Fort Salem,0.21875,0.963303,0.439657,0.172624,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
12137,tt9900782,Kaithi,0.56250,0.954128,0.571595,0.582038,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [19]:
import pickle
knn_model = None
with open("knn_model.pkl", "rb") as f:
    knn_model = pickle.load(f)

In [20]:
def recomment(index):
    distances, indices = knn_model.kneighbors([merged_df.iloc[index, 2:].to_numpy()])
    recommended_indices = indices[0][1:]
    print(f'Recommendations for {merged_df["title"][index]} :')
    for rec in recommended_indices:
        print(merged_df["title"][rec])

In [23]:
recomment(11674)

Recommendations for RRR :
Lone Wolf and Cub: Baby Cart at the River Styx
Escaping Tel Aviv
Along With the Gods: The Last 49 Days
Pursuit of the Graf Spee
The Emerald Forest