In [98]:
import pandas as pd

In [99]:
df = pd.read_csv("imdbDataFinal.csv")
df.shape

(12106, 10)

In [100]:
df[df.duplicated("id")]

Empty DataFrame
Columns: [id, imageUrl, rating, voteCount, country, language, keywords, plot, cast, crew]
Index: []

In [101]:
# df.drop_duplicates('id', inplace=True)
# df.shape

In [102]:
# df.to_csv("imdbDataFinal.csv", index=False)

Count of Missing values

In [103]:
df.isnull().sum()

id           0
imageUrl     1
rating       0
voteCount    0
country      0
language     0
keywords     0
plot         2
cast         0
crew         0
dtype: int64

### Dropping NA Records

In [104]:
df.dropna(inplace=True)
df

,id,imageUrl,rating,voteCount,country,language,keywords,plot,cast,crew
0,tt0006206,https://m.media-amazon.com/images/M/MV5BMTc1NT...,7.3,5639,FR,zxx,"['serial', 'silent film', 'reporter', 'crimina...",An intrepid reporter and his loyal friend batt...,"['nm0615736', 'nm0559013', 'nm0529695', 'nm004...",['nm0275421']
1,tt0006864,https://m.media-amazon.com/images/M/MV5BNmVhY2...,7.7,17298,US,en,"['babylon babylonia', 'paris france', 'partial...",Four historical tales depict the ongoing human...,"['nm0001273', 'nm0550615', 'nm0366008', 'nm087...",['nm0000428']
2,tt0009968,https://m.media-amazon.com/images/M/MV5BNTM0Mj...,7.2,11389,US,en,"['older man young girl love', 'boxer', 'doomed...","A frail waif, abused by her brutal boxer fathe...","['nm0001273', 'nm0001932', 'nm0187981', 'nm039...",['nm0000428']
3,tt0010323,https://m.media-amazon.com/images/M/MV5BNzNhY2...,8.0,72993,DE,"('de',)","[""somnambulist"", ""sleepwalking"", ""mind control...","Hypnotist Dr. Caligari uses a somnambulist, Ce...","[""nm0470328"", ""nm0891998"", ""nm0270415"", ""nm019...","[""nm0927468""]"
4,tt0078788,https://m.media-amazon.com/images/M/MV5BZDhiMT...,8.4,736102,US,"('en',)","[""vietnam war"", ""insanity"", ""jungle"", ""secret ...",A U.S. Army officer serving in Vietnam is task...,"[""nm0000008"", ""nm0000640"", ""nm0000380"", ""nm000...","[""nm0000338""]"
...,...,...,...,...,...,...,...,...,...,...
12101,tt0061728,https://m.media-amazon.com/images/M/MV5BOWM4ND...,6.7,6964,FR,"('fr',)","[""control freak"", ""disguise"", ""pianist"", ""farc...",Top-notch french restaurant owner Monsieur Sep...,"[""nm0000086"", ""nm0088396"", ""nm0735194"", ""nm089...","[""nm0078705""]"
12102,tt0061735,https://m.media-amazon.com/images/M/MV5BNmMwNj...,7.8,50706,US,"('en',)","[""racism"", ""interracial marriage"", ""doctor"", ""...",A White couple's attitudes are challenged when...,"[""nm0000075"", ""nm0001627"", ""nm0000031"", ""nm039...","[""nm0006452""]"
12103,tt0061747,https://m.media-amazon.com/images/M/MV5BMDQ3Mm...,7.0,45380,US,"('en',)","[""u.s. marshal"", ""revenge"", ""judge"", ""western ...",When an innocent man barely survives a lynchin...,"[""nm0000142"", ""nm0828447"", ""nm0003225"", ""nm038...","[""nm0692872""]"
12104,tt0061770,https://m.media-amazon.com/images/M/MV5BOGQ5Mm...,7.4,14512,US,"('en',)","[""arizona desert"", ""stagecoach"", ""outlaw"", ""jo...","John Russell, disdained by his ""respectable"" f...","[""nm0000056"", ""nm0545298"", ""nm0095524"", ""nm016...","[""nm0728688""]"
12105,tt0061781,https://m.media-amazon.com/images/M/MV5BNzQ3Yz...,7.4,12732,CSHH,"('cs',)","[""beauty contest"", ""theft"", ""corruption"", ""bur...",A volunteer fire department throws a party for...,"[""nm0903762"", ""nm0780918"", ""nm0885304"", ""nm021...","[""nm0001232""]"

# Data Preprocessing

In [105]:
import re

df['language'] = df['language'].apply(lambda x: re.sub(r'[^A-Za-z]+','', x))
df

,id,imageUrl,rating,voteCount,country,language,keywords,plot,cast,crew
0,tt0006206,https://m.media-amazon.com/images/M/MV5BMTc1NT...,7.3,5639,FR,zxx,"['serial', 'silent film', 'reporter', 'crimina...",An intrepid reporter and his loyal friend batt...,"['nm0615736', 'nm0559013', 'nm0529695', 'nm004...",['nm0275421']
1,tt0006864,https://m.media-amazon.com/images/M/MV5BNmVhY2...,7.7,17298,US,en,"['babylon babylonia', 'paris france', 'partial...",Four historical tales depict the ongoing human...,"['nm0001273', 'nm0550615', 'nm0366008', 'nm087...",['nm0000428']
2,tt0009968,https://m.media-amazon.com/images/M/MV5BNTM0Mj...,7.2,11389,US,en,"['older man young girl love', 'boxer', 'doomed...","A frail waif, abused by her brutal boxer fathe...","['nm0001273', 'nm0001932', 'nm0187981', 'nm039...",['nm0000428']
3,tt0010323,https://m.media-amazon.com/images/M/MV5BNzNhY2...,8.0,72993,DE,de,"[""somnambulist"", ""sleepwalking"", ""mind control...","Hypnotist Dr. Caligari uses a somnambulist, Ce...","[""nm0470328"", ""nm0891998"", ""nm0270415"", ""nm019...","[""nm0927468""]"
4,tt0078788,https://m.media-amazon.com/images/M/MV5BZDhiMT...,8.4,736102,US,en,"[""vietnam war"", ""insanity"", ""jungle"", ""secret ...",A U.S. Army officer serving in Vietnam is task...,"[""nm0000008"", ""nm0000640"", ""nm0000380"", ""nm000...","[""nm0000338""]"
...,...,...,...,...,...,...,...,...,...,...
12101,tt0061728,https://m.media-amazon.com/images/M/MV5BOWM4ND...,6.7,6964,FR,fr,"[""control freak"", ""disguise"", ""pianist"", ""farc...",Top-notch french restaurant owner Monsieur Sep...,"[""nm0000086"", ""nm0088396"", ""nm0735194"", ""nm089...","[""nm0078705""]"
12102,tt0061735,https://m.media-amazon.com/images/M/MV5BNmMwNj...,7.8,50706,US,en,"[""racism"", ""interracial marriage"", ""doctor"", ""...",A White couple's attitudes are challenged when...,"[""nm0000075"", ""nm0001627"", ""nm0000031"", ""nm039...","[""nm0006452""]"
12103,tt0061747,https://m.media-amazon.com/images/M/MV5BMDQ3Mm...,7.0,45380,US,en,"[""u.s. marshal"", ""revenge"", ""judge"", ""western ...",When an innocent man barely survives a lynchin...,"[""nm0000142"", ""nm0828447"", ""nm0003225"", ""nm038...","[""nm0692872""]"
12104,tt0061770,https://m.media-amazon.com/images/M/MV5BOGQ5Mm...,7.4,14512,US,en,"[""arizona desert"", ""stagecoach"", ""outlaw"", ""jo...","John Russell, disdained by his ""respectable"" f...","[""nm0000056"", ""nm0545298"", ""nm0095524"", ""nm016...","[""nm0728688""]"
12105,tt0061781,https://m.media-amazon.com/images/M/MV5BNzQ3Yz...,7.4,12732,CSHH,cs,"[""beauty contest"", ""theft"", ""corruption"", ""bur...",A volunteer fire department throws a party for...,"[""nm0903762"", ""nm0780918"", ""nm0885304"", ""nm021...","[""nm0001232""]"

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12103 entries, 0 to 12105
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         12103 non-null  object
 1   imageUrl   12103 non-null  object
 2   rating     12103 non-null  float64
 3   voteCount  12103 non-null  int64
 4   country    12103 non-null  object
 5   language   12103 non-null  object
 6   keywords   12103 non-null  object
 7   plot       12103 non-null  object
 8   cast       12103 non-null  object
 9   crew       12103 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.0+ MB

In [107]:
import ast

df['keywords'] = df['keywords'].apply(ast.literal_eval)

In [108]:
df["cast"] = df["cast"].apply(ast.literal_eval)
df["crew"] = df["crew"].apply(ast.literal_eval)

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12103 entries, 0 to 12105
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         12103 non-null  object
 1   imageUrl   12103 non-null  object
 2   rating     12103 non-null  float64
 3   voteCount  12103 non-null  int64
 4   country    12103 non-null  object
 5   language   12103 non-null  object
 6   keywords   12103 non-null  object
 7   plot       12103 non-null  object
 8   cast       12103 non-null  object
 9   crew       12103 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.0+ MB

### Processing Keywords Column

In [110]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD


df['keywords_str'] = df['keywords'].apply(lambda x: ' '.join(x))
df["keywords_plot"] = df["keywords_str"] + " " + df["plot"]

In [111]:
df.isnull().sum()
df.dropna(inplace=True)
df.isnull().sum()

id               0
imageUrl         0
rating           0
voteCount        0
country          0
language         0
keywords         0
plot             0
cast             0
crew             0
keywords_str     0
keywords_plot    0
dtype: int64

In [112]:
vectoriser = TfidfVectorizer()
x_tfid = vectoriser.fit_transform(df["keywords_plot"])
x_tfid

<12103x43927 sparse matrix of type '<class 'numpy.float64'>'
	with 1336368 stored elements in Compressed Sparse Row format>

In [113]:
n_components = 3
svd = TruncatedSVD(n_components=n_components, random_state=42)
X_reduced = svd.fit_transform(x_tfid)
X_reduced

array([[ 0.20294423, -0.10621996, -0.07127552],
       [ 0.14394788, -0.04823515, -0.00461103],
       [ 0.18339236, -0.01378934,  0.02197243],
       ...,
       [ 0.17529448, -0.10188983, -0.05362124],
       [ 0.13038811, -0.07132341, -0.02335938],
       [ 0.15141326,  0.00856648,  0.01024451]])

In [114]:
X_reduced[0][0]

0.20294423213021057

In [115]:
df[['kw1','kw2','kw3']] = X_reduced

In [116]:
df.describe()

             rating     voteCount           kw1           kw2           kw3
count  12103.000000  1.210300e+04  12103.000000  12103.000000  12103.000000
mean       7.390597  7.589410e+04      0.194285     -0.008373     -0.000304
std        0.553193  1.766489e+05      0.066932      0.089806      0.085287
min        5.400000  5.026000e+03      0.020216     -0.273890     -0.410001
25%        7.000000  8.602500e+03      0.144329     -0.060500     -0.041495
50%        7.300000  1.773800e+04      0.194711     -0.026613      0.005900
75%        7.700000  5.687850e+04      0.243564      0.019887      0.044285
max        9.600000  3.015054e+06      0.415333      0.530163      0.421969

In [117]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
actor_features = mlb.fit_transform(
    df["cast"]
)  
actor_features.shape

(12103, 25169)

In [118]:
from sklearn.decomposition import PCA

pca = PCA(n_components=2)
X_reduced = pca.fit_transform(actor_features)

In [119]:
df[["r_cast1", "r_cast2"]] = X_reduced

In [120]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
crew_features = mlb.fit_transform(df["crew"])
print(crew_features.shape)
from sklearn.decomposition import PCA

pca = PCA(n_components=2)
X_reduced = pca.fit_transform(crew_features)
df[["r_crew1", "r_crew2"]] = X_reduced

(12103, 7318)

In [121]:
df

,id,imageUrl,rating,voteCount,country,language,keywords,plot,cast,crew,keywords_str,keywords_plot,kw1,kw2,kw3,r_cast1,r_cast2,r_crew1,r_crew2
0,tt0006206,https://m.media-amazon.com/images/M/MV5BMTc1NT...,7.3,5639,FR,zxx,"[serial, silent film, reporter, criminal, evil...",An intrepid reporter and his loyal friend batt...,"[nm0615736, nm0559013, nm0529695, nm0043923]",[nm0275421],serial silent film reporter criminal evil scie...,serial silent film reporter criminal evil scie...,0.202944,-0.106220,-0.071276,0.000691,-0.007391,-0.004144,-0.002581
1,tt0006864,https://m.media-amazon.com/images/M/MV5BNmVhY2...,7.7,17298,US,en,"[babylon babylonia, paris france, partially lo...",Four historical tales depict the ongoing human...,"[nm0001273, nm0550615, nm0366008, nm0877548]",[nm0000428],babylon babylonia paris france partially lost ...,babylon babylonia paris france partially lost ...,0.143948,-0.048235,-0.004611,0.001069,-0.010254,-0.004421,-0.002817
2,tt0009968,https://m.media-amazon.com/images/M/MV5BNTM0Mj...,7.2,11389,US,en,"[older man young girl love, boxer, doomed love...","A frail waif, abused by her brutal boxer fathe...","[nm0001273, nm0001932, nm0187981, nm0397126]",[nm0000428],older man young girl love boxer doomed love fo...,older man young girl love boxer doomed love fo...,0.183392,-0.013789,0.021972,0.001984,-0.016020,-0.004421,-0.002817
3,tt0010323,https://m.media-amazon.com/images/M/MV5BNzNhY2...,8.0,72993,DE,de,"[somnambulist, sleepwalking, mind control, ger...","Hypnotist Dr. Caligari uses a somnambulist, Ce...","[nm0470328, nm0891998, nm0270415, nm0196820]",[nm0927468],somnambulist sleepwalking mind control german ...,somnambulist sleepwalking mind control german ...,0.212083,-0.096950,-0.119200,0.000416,-0.008621,-0.004144,-0.002581
4,tt0078788,https://m.media-amazon.com/images/M/MV5BZDhiMT...,8.4,736102,US,en,"[vietnam war, insanity, jungle, secret mission...",A U.S. Army officer serving in Vietnam is task...,"[nm0000008, nm0000640, nm0000380, nm0002078]",[nm0000338],vietnam war insanity jungle secret mission vie...,vietnam war insanity jungle secret mission vie...,0.182745,-0.014539,-0.104172,-0.078234,0.075886,-0.005248,-0.003626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12101,tt0061728,https://m.media-amazon.com/images/M/MV5BOWM4ND...,6.7,6964,FR,fr,"[control freak, disguise, pianist, farce, held...",Top-notch french restaurant owner Monsieur Sep...,"[nm0000086, nm0088396, nm0735194, nm0892891]",[nm0078705],control freak disguise pianist farce held at g...,control freak disguise pianist farce held at g...,0.088563,-0.067202,-0.061102,0.001249,-0.010901,-0.004144,-0.002581
12102,tt0061735,https://m.media-amazon.com/images/M/MV5BNmMwNj...,7.8,50706,US,en,"[racism, interracial marriage, doctor, miscege...",A White couple's attitudes are challenged when...,"[nm0000075, nm0001627, nm0000031, nm0396455]",[nm0006452],racism interracial marriage doctor miscegenati...,racism interracial marriage doctor miscegenati...,0.225095,0.003867,0.081288,0.009885,-0.033203,-0.004738,-0.003099
12103,tt0061747,https://m.media-amazon.com/images/M/MV5BMDQ3Mm...,7.0,45380,US,en,"[u.s. marshal, revenge, judge, western town, p...",When an innocent man barely survives a lynchin...,"[nm0000142, nm0828447, nm0003225, nm0385757]",[nm0692872],u.s. marshal revenge judge western town public...,u.s. marshal revenge judge western town public...,0.175294,-0.101890,-0.053621,-0.021293,0.010191,-0.004232,-0.002655
12104,tt0061770,https://m.media-amazon.com/images/M/MV5BOGQ5Mm...,7.4,14512,US,en,"[arizona desert, stagecoach, outlaw, journey, ...","John Russell, disdained by his ""respectable"" f...","[nm0000056, nm0545298, nm0095524, nm0162283]",[nm0728688],arizona desert stagecoach outlaw journey apach...,arizona desert stagecoach outlaw journey apach...,0.130388,-0.071323,-0.023359,-0.020905,-0.041547,-0.004855,-0.003205
12105,tt0061781,https://m.media-amazon.com/images/M/MV5BNzQ3Yz...,7.4,12732,CSHH,cs,"[beauty contest, theft, corruption, bureaucrac...",A volunteer fire department throws a party for...,"[nm0903762, nm0780918, nm0885304, nm0213371]",[nm0001232],beauty contest theft corruption bureaucracy po...,beauty contest theft corruption bureaucracy po...,0.151413,0.008566,0.010245,0.000691,-0.007391,-0.005107,-0.003476

In [123]:
df.columns

Index(['id', 'imageUrl', 'rating', 'voteCount', 'country', 'language',
       'keywords', 'plot', 'cast', 'crew', 'keywords_str', 'keywords_plot',
       'kw1', 'kw2', 'kw3', 'r_cast1', 'r_cast2', 'r_crew1', 'r_crew2'],
      dtype='object')

In [124]:
new_df = df[
    [
        "id",
        "voteCount",
        "country",
        "language",
        "kw1",
        "kw2",
        "kw3",
        "r_cast1",
        "r_cast2",
        "r_crew1",
        "r_crew2",
    ]
]
new_df

,id,voteCount,country,language,kw1,kw2,kw3,r_cast1,r_cast2,r_crew1,r_crew2
0,tt0006206,5639,FR,zxx,0.202944,-0.106220,-0.071276,0.000691,-0.007391,-0.004144,-0.002581
1,tt0006864,17298,US,en,0.143948,-0.048235,-0.004611,0.001069,-0.010254,-0.004421,-0.002817
2,tt0009968,11389,US,en,0.183392,-0.013789,0.021972,0.001984,-0.016020,-0.004421,-0.002817
3,tt0010323,72993,DE,de,0.212083,-0.096950,-0.119200,0.000416,-0.008621,-0.004144,-0.002581
4,tt0078788,736102,US,en,0.182745,-0.014539,-0.104172,-0.078234,0.075886,-0.005248,-0.003626
...,...,...,...,...,...,...,...,...,...,...,...
12101,tt0061728,6964,FR,fr,0.088563,-0.067202,-0.061102,0.001249,-0.010901,-0.004144,-0.002581
12102,tt0061735,50706,US,en,0.225095,0.003867,0.081288,0.009885,-0.033203,-0.004738,-0.003099
12103,tt0061747,45380,US,en,0.175294,-0.101890,-0.053621,-0.021293,0.010191,-0.004232,-0.002655
12104,tt0061770,14512,US,en,0.130388,-0.071323,-0.023359,-0.020905,-0.041547,-0.004855,-0.003205
12105,tt0061781,12732,CSHH,cs,0.151413,0.008566,0.010245,0.000691,-0.007391,-0.005107,-0.003476

In [125]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
new_df["voteCount"] = scaler.fit_transform(new_df[["voteCount"]])
new_df

C:\Users\nithi\AppData\Local\Temp\ipykernel_10532\1714330401.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["voteCount"] = scaler.fit_transform(new_df[["voteCount"]])

,id,voteCount,country,language,kw1,kw2,kw3,r_cast1,r_cast2,r_crew1,r_crew2
0,tt0006206,0.000204,FR,zxx,0.202944,-0.106220,-0.071276,0.000691,-0.007391,-0.004144,-0.002581
1,tt0006864,0.004077,US,en,0.143948,-0.048235,-0.004611,0.001069,-0.010254,-0.004421,-0.002817
2,tt0009968,0.002114,US,en,0.183392,-0.013789,0.021972,0.001984,-0.016020,-0.004421,-0.002817
3,tt0010323,0.022580,DE,de,0.212083,-0.096950,-0.119200,0.000416,-0.008621,-0.004144,-0.002581
4,tt0078788,0.242880,US,en,0.182745,-0.014539,-0.104172,-0.078234,0.075886,-0.005248,-0.003626
...,...,...,...,...,...,...,...,...,...,...,...
12101,tt0061728,0.000644,FR,fr,0.088563,-0.067202,-0.061102,0.001249,-0.010901,-0.004144,-0.002581
12102,tt0061735,0.015176,US,en,0.225095,0.003867,0.081288,0.009885,-0.033203,-0.004738,-0.003099
12103,tt0061747,0.013407,US,en,0.175294,-0.101890,-0.053621,-0.021293,0.010191,-0.004232,-0.002655
12104,tt0061770,0.003151,US,en,0.130388,-0.071323,-0.023359,-0.020905,-0.041547,-0.004855,-0.003205
12105,tt0061781,0.002560,CSHH,cs,0.151413,0.008566,0.010245,0.000691,-0.007391,-0.005107,-0.003476

In [79]:
# from sklearn.preprocessing import OneHotEncoder

# ohe = OneHotEncoder()
# country_encoded = ohe.fit_transform(new_df[["country"]])

(12103, 92)

In [82]:

# country_dense = country_encoded.toarray()

# pca = PCA(n_components=2)
# country_reduced = pca.fit_transform(country_dense)

# print(country_reduced.shape)

(12103, 2)

In [129]:
new_df

,id,voteCount,country,language,kw1,kw2,kw3,r_cast1,r_cast2,r_crew1,r_crew2
0,tt0006206,0.000204,0.307692,zxx,0.202944,-0.106220,-0.071276,0.000691,-0.007391,-0.004144,-0.002581
1,tt0006864,0.004077,0.923077,en,0.143948,-0.048235,-0.004611,0.001069,-0.010254,-0.004421,-0.002817
2,tt0009968,0.002114,0.923077,en,0.183392,-0.013789,0.021972,0.001984,-0.016020,-0.004421,-0.002817
3,tt0010323,0.022580,0.230769,de,0.212083,-0.096950,-0.119200,0.000416,-0.008621,-0.004144,-0.002581
4,tt0078788,0.242880,0.923077,en,0.182745,-0.014539,-0.104172,-0.078234,0.075886,-0.005248,-0.003626
...,...,...,...,...,...,...,...,...,...,...,...
12101,tt0061728,0.000644,0.307692,fr,0.088563,-0.067202,-0.061102,0.001249,-0.010901,-0.004144,-0.002581
12102,tt0061735,0.015176,0.923077,en,0.225095,0.003867,0.081288,0.009885,-0.033203,-0.004738,-0.003099
12103,tt0061747,0.013407,0.923077,en,0.175294,-0.101890,-0.053621,-0.021293,0.010191,-0.004232,-0.002655
12104,tt0061770,0.003151,0.923077,en,0.130388,-0.071323,-0.023359,-0.020905,-0.041547,-0.004855,-0.003205
12105,tt0061781,0.002560,0.186813,cs,0.151413,0.008566,0.010245,0.000691,-0.007391,-0.005107,-0.003476

In [128]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

# Encode language as numbers
le = LabelEncoder()
new_df["country"] = le.fit_transform(new_df["country"])

# Normalize the encoded values
scaler = MinMaxScaler()
new_df["country"] = scaler.fit_transform(new_df[["country"]])
new_df

C:\Users\nithi\AppData\Local\Temp\ipykernel_10532\909465418.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["country"] = le.fit_transform(new_df["country"])
C:\Users\nithi\AppData\Local\Temp\ipykernel_10532\909465418.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["country"] = scaler.fit_transform(new_df[["country"]])

,id,voteCount,country,language,kw1,kw2,kw3,r_cast1,r_cast2,r_crew1,r_crew2
0,tt0006206,0.000204,0.307692,zxx,0.202944,-0.106220,-0.071276,0.000691,-0.007391,-0.004144,-0.002581
1,tt0006864,0.004077,0.923077,en,0.143948,-0.048235,-0.004611,0.001069,-0.010254,-0.004421,-0.002817
2,tt0009968,0.002114,0.923077,en,0.183392,-0.013789,0.021972,0.001984,-0.016020,-0.004421,-0.002817
3,tt0010323,0.022580,0.230769,de,0.212083,-0.096950,-0.119200,0.000416,-0.008621,-0.004144,-0.002581
4,tt0078788,0.242880,0.923077,en,0.182745,-0.014539,-0.104172,-0.078234,0.075886,-0.005248,-0.003626
...,...,...,...,...,...,...,...,...,...,...,...
12101,tt0061728,0.000644,0.307692,fr,0.088563,-0.067202,-0.061102,0.001249,-0.010901,-0.004144,-0.002581
12102,tt0061735,0.015176,0.923077,en,0.225095,0.003867,0.081288,0.009885,-0.033203,-0.004738,-0.003099
12103,tt0061747,0.013407,0.923077,en,0.175294,-0.101890,-0.053621,-0.021293,0.010191,-0.004232,-0.002655
12104,tt0061770,0.003151,0.923077,en,0.130388,-0.071323,-0.023359,-0.020905,-0.041547,-0.004855,-0.003205
12105,tt0061781,0.002560,0.186813,cs,0.151413,0.008566,0.010245,0.000691,-0.007391,-0.005107,-0.003476

In [130]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

# Encode language as numbers
le = LabelEncoder()
new_df["language"] = le.fit_transform(new_df["language"])

# Normalize the encoded values
scaler = MinMaxScaler()
new_df["language"] = scaler.fit_transform(new_df[["language"]])
new_df

C:\Users\nithi\AppData\Local\Temp\ipykernel_10532\271867098.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["language"] = le.fit_transform(new_df["language"])
C:\Users\nithi\AppData\Local\Temp\ipykernel_10532\271867098.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["language"] = scaler.fit_transform(new_df[["language"]])

,id,voteCount,country,language,kw1,kw2,kw3,r_cast1,r_cast2,r_crew1,r_crew2
0,tt0006206,0.000204,0.307692,1.000000,0.202944,-0.106220,-0.071276,0.000691,-0.007391,-0.004144,-0.002581
1,tt0006864,0.004077,0.923077,0.187500,0.143948,-0.048235,-0.004611,0.001069,-0.010254,-0.004421,-0.002817
2,tt0009968,0.002114,0.923077,0.187500,0.183392,-0.013789,0.021972,0.001984,-0.016020,-0.004421,-0.002817
3,tt0010323,0.022580,0.230769,0.156250,0.212083,-0.096950,-0.119200,0.000416,-0.008621,-0.004144,-0.002581
4,tt0078788,0.242880,0.923077,0.187500,0.182745,-0.014539,-0.104172,-0.078234,0.075886,-0.005248,-0.003626
...,...,...,...,...,...,...,...,...,...,...,...
12101,tt0061728,0.000644,0.307692,0.260417,0.088563,-0.067202,-0.061102,0.001249,-0.010901,-0.004144,-0.002581
12102,tt0061735,0.015176,0.923077,0.187500,0.225095,0.003867,0.081288,0.009885,-0.033203,-0.004738,-0.003099
12103,tt0061747,0.013407,0.923077,0.187500,0.175294,-0.101890,-0.053621,-0.021293,0.010191,-0.004232,-0.002655
12104,tt0061770,0.003151,0.923077,0.187500,0.130388,-0.071323,-0.023359,-0.020905,-0.041547,-0.004855,-0.003205
12105,tt0061781,0.002560,0.186813,0.125000,0.151413,0.008566,0.010245,0.000691,-0.007391,-0.005107,-0.003476

In [133]:
p_df = pd.read_csv('processed_movies.csv')
p_df

,id,title,rating,year,actors_tsne_1,actors_tsne_2,type,Action,Adventure,Animation,...,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,nan
0,tt0006206,Les Vampires,0.21875,0.000000,0.557611,0.087363,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,tt0006864,Intolerance,0.34375,0.009174,0.273229,0.366655,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,tt0009968,Broken Blossoms,0.18750,0.036697,0.273230,0.366661,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,tt0010323,The Cabinet of Dr. Caligari,0.43750,0.045872,0.506957,0.796208,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,tt0011130,Dr. Jekyll and Mr. Hyde,0.09375,0.045872,0.465815,0.403688,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12133,tt9883996,Dream Horse,0.09375,0.963303,0.591670,0.881580,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12134,tt9892936,One Hundred Years of Solitude,0.62500,1.000000,0.257240,0.660248,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12135,tt9899340,Her Private Life,0.34375,0.954128,0.170125,0.777121,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
12136,tt9900092,Motherland: Fort Salem,0.21875,0.963303,0.439657,0.172624,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
12137,tt9900782,Kaithi,0.56250,0.954128,0.571595,0.582038,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [134]:
merged_df = new_df.merge(
    p_df[
        [
            "id",
            "rating",
            "year",
            "type",
            "Action",
            "Adventure",
            "Animation",
            "Biography",
            "Comedy",
            "Crime",
            "Documentary",
            "Drama",
            "Family",
            "Fantasy",
            "Film-Noir",
            "Game-Show",
            "History",
            "Horror",
            "Music",
            "Musical",
            "Mystery",
            "News",
            "Reality-TV",
            "Romance",
            "Sci-Fi",
            "Short",
            "Sport",
            "Talk-Show",
            "Thriller",
            "War",
            "Western",
        ]
    ],
    on="id",
    how="left",
)

merged_df

,id,voteCount,country,language,kw1,kw2,kw3,r_cast1,r_cast2,r_crew1,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,tt0006206,0.000204,0.307692,1.000000,0.202944,-0.106220,-0.071276,0.000691,-0.007391,-0.004144,...,0,0,0,0,0,0,0,0,0,0
1,tt0006864,0.004077,0.923077,0.187500,0.143948,-0.048235,-0.004611,0.001069,-0.010254,-0.004421,...,0,0,0,0,0,0,0,0,0,0
2,tt0009968,0.002114,0.923077,0.187500,0.183392,-0.013789,0.021972,0.001984,-0.016020,-0.004421,...,0,0,1,0,0,0,0,0,0,0
3,tt0010323,0.022580,0.230769,0.156250,0.212083,-0.096950,-0.119200,0.000416,-0.008621,-0.004144,...,0,0,0,0,0,0,0,1,0,0
4,tt0078788,0.242880,0.923077,0.187500,0.182745,-0.014539,-0.104172,-0.078234,0.075886,-0.005248,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12098,tt0061728,0.000644,0.307692,0.260417,0.088563,-0.067202,-0.061102,0.001249,-0.010901,-0.004144,...,0,0,0,0,0,0,0,0,0,0
12099,tt0061735,0.015176,0.923077,0.187500,0.225095,0.003867,0.081288,0.009885,-0.033203,-0.004738,...,0,0,0,0,0,0,0,0,0,0
12100,tt0061747,0.013407,0.923077,0.187500,0.175294,-0.101890,-0.053621,-0.021293,0.010191,-0.004232,...,0,0,0,0,0,0,0,0,0,1
12101,tt0061770,0.003151,0.923077,0.187500,0.130388,-0.071323,-0.023359,-0.020905,-0.041547,-0.004855,...,0,0,0,0,0,0,0,0,0,1
12102,tt0061781,0.002560,0.186813,0.125000,0.151413,0.008566,0.010245,0.000691,-0.007391,-0.005107,...,0,0,0,0,0,0,0,0,0,0

In [135]:
merged_df.columns

Index(['id', 'voteCount', 'country', 'language', 'kw1', 'kw2', 'kw3',
       'r_cast1', 'r_cast2', 'r_crew1', 'r_crew2', 'rating', 'year', 'type',
       'Action', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Family', 'Fantasy', 'Film-Noir', 'Game-Show',
       'History', 'Horror', 'Music', 'Musical', 'Mystery', 'News',
       'Reality-TV', 'Romance', 'Sci-Fi', 'Short', 'Sport', 'Talk-Show',
       'Thriller', 'War', 'Western'],
      dtype='object')

In [137]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12103 entries, 0 to 12102
Data columns (total 41 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           12103 non-null  object
 1   voteCount    12103 non-null  float64
 2   country      12103 non-null  float64
 3   language     12103 non-null  float64
 4   kw1          12103 non-null  float64
 5   kw2          12103 non-null  float64
 6   kw3          12103 non-null  float64
 7   r_cast1      12103 non-null  float64
 8   r_cast2      12103 non-null  float64
 9   r_crew1      12103 non-null  float64
 10  r_crew2      12103 non-null  float64
 11  rating       12103 non-null  float64
 12  year         12103 non-null  float64
 13  type         12103 non-null  int64
 14  Action       12103 non-null  int64
 15  Adventure    12103 non-null  int64
 16  Animation    12103 non-null  int64
 17  Biography    12103 non-null  int64
 18  Comedy       12103 non-null  int64
 19  Crime        12103 non-null  int64
 20  Documentary  12103 non-null  int64
 21  Drama        12103 non-null  int64
 22  Family       12103 non-null  int64
 23  Fantasy      12103 non-null  int64
 24  Film-Noir    12103 non-null  int64
 25  Game-Show    12103 non-null  int64
 26  History      12103 non-null  int64
 27  Horror       12103 non-null  int64
 28  Music        12103 non-null  int64
 29  Musical      12103 non-null  int64
 30  Mystery      12103 non-null  int64
 31  News         12103 non-null  int64
 32  Reality-TV   12103 non-null  int64
 33  Romance      12103 non-null  int64
 34  Sci-Fi       12103 non-null  int64
 35  Short        12103 non-null  int64
 36  Sport        12103 non-null  int64
 37  Talk-Show    12103 non-null  int64
 38  Thriller     12103 non-null  int64
 39  War          12103 non-null  int64
 40  Western      12103 non-null  int64
dtypes: float64(12), int64(28), object(1)
memory usage: 3.8+ MB

In [136]:
merged_df.to_csv("train_data.csv", index=False)

In [179]:
details_df = pd.read_csv("final_output.csv")
details_df

,id,title,rating,voteCount,imageUrl,country,language,type
0,tt0006206,Les Vampires,7.3,5639,https://m.media-amazon.com/images/M/MV5BMTc1NT...,FR,zxx,0
1,tt0006864,Intolerance,7.7,17298,https://m.media-amazon.com/images/M/MV5BNmVhY2...,US,en,0
2,tt0009968,Broken Blossoms,7.2,11389,https://m.media-amazon.com/images/M/MV5BNTM0Mj...,US,en,0
3,tt0010323,The Cabinet of Dr. Caligari,8.0,72993,https://m.media-amazon.com/images/M/MV5BNzNhY2...,DE,"('de',)",0
4,tt0078788,Apocalypse Now,8.4,736102,https://m.media-amazon.com/images/M/MV5BZDhiMT...,US,"('en',)",0
...,...,...,...,...,...,...,...,...
12098,tt0061728,What's Cooking in Paris,6.7,6964,https://m.media-amazon.com/images/M/MV5BOWM4ND...,FR,"('fr',)",0
12099,tt0061735,Guess Who's Coming to Dinner,7.8,50706,https://m.media-amazon.com/images/M/MV5BNmMwNj...,US,"('en',)",0
12100,tt0061747,Hang 'Em High,7.0,45380,https://m.media-amazon.com/images/M/MV5BMDQ3Mm...,US,"('en',)",0
12101,tt0061770,Hombre,7.4,14512,https://m.media-amazon.com/images/M/MV5BOGQ5Mm...,US,"('en',)",0
12102,tt0061781,The Firemen's Ball,7.4,12732,https://m.media-amazon.com/images/M/MV5BNzQ3Yz...,CSHH,"('cs',)",0

In [294]:
from scipy.spatial.distance import euclidean, hamming


def weighted_distance(movie1, movie2):
    movie1 = movie1.flatten()  # Ensure it's 1D
    movie2 = movie2.flatten()  # Ensure it's 1D

    voteCount = euclidean([movie1[0]], [movie2[0]]) * 3.0
    country = euclidean([movie1[1]], [movie2[1]]) * 2.5
    language = euclidean([movie1[2]], [movie2[2]]) * 4.0

    kw = euclidean(movie1[3:6], movie2[3:6]) * 3.5
    cast = euclidean(movie1[6:8], movie2[6:8]) * 3.0
    crew = euclidean(movie1[8:10], movie2[8:10]) * 2.0

    rating = euclidean([movie1[10]], [movie2[10]]) * 5.0
    year = euclidean([movie1[11]], [movie2[11]]) * 4.5
    mtype = hamming([movie1[12]], [movie2[12]]) * 1.5

    genres = hamming(movie1[13:], movie2[13:]) * 6.0

    return float(
        voteCount
        + country
        + language
        + kw
        + cast
        + crew
        + rating
        + year
        + mtype
        + genres
    )

In [295]:
from sklearn.neighbors import NearestNeighbors

feature_columns = merged_df.columns[1:]
X = merged_df[feature_columns].values

knn = NearestNeighbors(n_neighbors=6, metric=weighted_distance)
knn.fit(X)

NearestNeighbors(metric=<function weighted_distance at 0x0000028B47477BA0>,
                 n_neighbors=6)

In [ ]:
def recomment(index):
    distances, indices = knn.kneighbors(merged_df.iloc[index, 1:].values.reshape(1, -1))
    recommended_indices = indices[0][1:]
    print(f'Recommendations for {details_df["title"][index]} :')

    for rec in recommended_indices:
        print(details_df["title"][rec])

In [301]:
recomment(6463)

Recommendations for Stranger Things :
Supernatural
House of Cards
Succession
Mad Men
Better Call Saul

In [300]:
details_df.loc[details_df["id"] == "tt4574334"]

,id,title,rating,voteCount,imageUrl,country,language,type
6463,tt4574334,Stranger Things,8.7,1423958,https://m.media-amazon.com/images/M/MV5BMjE2N2...,US,"('en',)",1

Recommendations for Rangasthalam :
Baahubali 2: The Conclusion
Deiva Thirumagal
Aruvi
Colour Photo
Vaaranam Aayiram

In [302]:
import pickle

pickle.dump(knn, open("refinedv1-imdb-recomm.pkl", "wb+"))

In [303]:
merged_df.to_pickle("recomm-data.pkl")

In [305]:
details_df['year'] = merged_df['year']

In [306]:
details_df.to_pickle("imdb-details.pkl")

In [307]:
details_df.sort_values("year", ascending=False)

,id,title,rating,voteCount,imageUrl,country,language,type,year
10121,tt21209876,Solo Leveling,8.4,50370,https://m.media-amazon.com/images/M/MV5BM2M4Yz...,JP,"('ja',)",1,1.000000
10518,tt24053860,The Day of the Jackal,8.2,83422,https://m.media-amazon.com/images/M/MV5BYmI3ND...,GB,"('en',)",1,1.000000
5616,tt28118211,A Good Girl's Guide to Murder,6.8,18288,https://m.media-amazon.com/images/M/MV5BYmVlYz...,GB,"('en',)",1,1.000000
9710,tt18177528,The New Look,7.4,8395,https://m.media-amazon.com/images/M/MV5BYzlhOW...,US,"('en',)",1,1.000000
5627,tt28282670,The Magic of Shiri,7.1,7157,https://m.media-amazon.com/images/M/MV5BZGE4ND...,IN,"('hi',)",1,1.000000
...,...,...,...,...,...,...,...,...,...
10804,tt0011237,The Golem,7.2,8973,https://m.media-amazon.com/images/M/MV5BMTQ5MT...,DE,"('de',)",0,0.045872
10805,tt0011841,Way Down East,7.3,6076,https://m.media-amazon.com/images/M/MV5BMjI5OT...,US,"('en',)",0,0.045872
2,tt0009968,Broken Blossoms,7.2,11389,https://m.media-amazon.com/images/M/MV5BNTM0Mj...,US,en,0,0.036697
1,tt0006864,Intolerance,7.7,17298,https://m.media-amazon.com/images/M/MV5BNmVhY2...,US,en,0,0.009174
0,tt0006206,Les Vampires,7.3,5639,https://m.media-amazon.com/images/M/MV5BMTc1NT...,FR,zxx,0,0.000000