In [1]:
import pandas as pd

In [10]:
s1 = pd.Series([4,51,2,3], index=['a', 'b', 'c', 'd'])

In [11]:
s1

a     4
b    51
c     2
d     3
dtype: int64

In [12]:
ddata = dict(name="nithin", age=64, email="nithingodugu")

In [13]:
ddata

{'name': 'nithin', 'age': 64, 'email': 'nithingodugu'}

In [17]:
ds = pd.Series(ddata)

In [28]:
print(type(ds[['age', 'name']]))

<class 'pandas.core.series.Series'>

In [29]:
pd.DataFrame(ddata)

ValueError: If using all scalar values, you must pass an index

In [30]:
dfdata = {
    "names": ["Nithin", "Jag", "ruth", "bongs", "kings"],
    "ages": [40,60,20,80,10],
    "gfs": [0,1,2,3,4]
}

In [31]:
dfdata

{'names': ['Nithin', 'Jag', 'ruth', 'bongs', 'kings'],
 'ages': [40, 60, 20, 80, 10],
 'gfs': [0, 1, 2, 3, 4]}

In [36]:
df = pd.DataFrame(dfdata)
df

    names  ages  gfs
0  Nithin    40    0
1     Jag    60    1
2    ruth    20    2
3   bongs    80    3
4   kings    10    4

In [ ]:
print(())

names    Nithin
ages         40
gfs           0
Name: 0, dtype: object

In [50]:
df.iloc[:, 1:2]

   ages
0    40
1    60
2    20
3    80
4    10

In [52]:
type(df.iloc[:, 1:1])

pandas.core.frame.DataFrame

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   names   5 non-null      object
 1   ages    5 non-null      int64
 2   gfs     5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes

In [55]:
type(df["ages"])

pandas.core.series.Series

In [56]:
df["ages"]

0    40
1    60
2    20
3    80
4    10
Name: ages, dtype: int64

In [57]:
df.describe()

            ages       gfs
count   5.000000  5.000000
mean   42.000000  2.000000
std    28.635642  1.581139
min    10.000000  0.000000
25%    20.000000  1.000000
50%    40.000000  2.000000
75%    60.000000  3.000000
max    80.000000  4.000000

In [59]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [62]:
df[['names']]

    names
0  Nithin
1     Jag
2    ruth
3   bongs
4   kings

In [66]:
df[df["ages"] > 40]

   names  ages  gfs
1    Jag    60    1
3  bongs    80    3